In [1]:
import import_ipynb
import DownloadingData
import pandas as pd
import numpy as np

importing Jupyter notebook from DownloadingData.ipynb

In [2]:
housingdf=DownloadingData.load_housing_data()

In [3]:
housingdf["income_cat"]=pd.cut(housingdf["median_income"],bins=[0.,1.5,3.0,4.5,6., np.inf],labels=[1,2,3,4,5])

In [4]:
housingdf["income_cat"]

0        5
1        5
2        5
3        4
4        3
        ..
20635    2
20636    2
20637    2
20638    2
20639    2
Name: income_cat, Length: 20640, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)

In [6]:
print(split.split(housingdf,housingdf["income_cat"]))

<generator object BaseShuffleSplit.split at 0x0000000009B37548>

In [7]:
for train_index,test_index in split.split(housingdf,housingdf["income_cat"]):#the second split outputs a tuple containing lists of training indexes and test inexes
    strat_train_set =housingdf.loc[train_index]
    strat_test_set =housingdf.loc[test_index]

In [8]:
strat_test_set["income_cat"].value_counts()/len(strat_test_set)

3    0.350533
2    0.318798
4    0.176357
5    0.114583
1    0.039729
Name: income_cat, dtype: float64

In [9]:
housingdf["income_cat"].value_counts()/len(housingdf)

3    0.350581
2    0.318847
4    0.176308
5    0.114438
1    0.039826
Name: income_cat, dtype: float64

In [10]:
axe=[1,2,3]
tax=[4,5,6]

In [11]:
strat_train_set.drop(columns="income_cat",inplace=True)
strat_test_set.drop(columns="income_cat",inplace=True)

In [12]:
strat_train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,286600.0,<1H OCEAN
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,340600.0,<1H OCEAN
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,196900.0,NEAR OCEAN
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,46300.0,INLAND
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,254500.0,<1H OCEAN

In [13]:
strat_train_set.shape

(16512, 10)